cocogram.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LilianGrammar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tokens">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InheritBaseTokens" />
							<xs:element maxOccurs="unbounded" name="Token">
								<xs:complexType>
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="Pattern" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SentenceStructures">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="SentenceStructure">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Name" type="xs:string" use="required" />
											<xs:attribute name="Pattern" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required" />
			<xs:attribute name="MinimumBuild" type="xs:unsignedShort" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>