proj.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LilianProject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Output">
					<xs:complexType>
						<xs:attribute name="Type" type="xs:string" use="required" />
						<xs:attribute name="Path" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="Include">
					<xs:complexType>
						<xs:attribute name="Path" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="MinimumBuild" type="xs:unsignedShort" use="required" />
			<xs:attribute name="Name" type="xs:string" use="required" />
			<xs:attribute name="Version" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>